body {
    text-align: center;
    align-items: center;
    /* body에는 적용되지 않음 - 무의미 */
}

.AnimalImg {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 2s;
    transform-style: preserve-3d;
    background-color: beige;
}