body {
    text-align: center;
    align-items: center;
}

.AnimalImg {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 2s;
    transform-style: preserve-3d;
    background-color: beige;
}


.AnimalImg.rotate {
    transform: rotateY(360deg);
}