body {
    margin: 0;
    padding: 0;
    background-color: gray;
    overflow-x: hidden;
    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 2rem 0;
}


.notionContainer {
    width: auto;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 450px;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    display: flex;
    pointer-events: none;
}

/* 이미지 개별 아이콘에 pointer-events 다시 활성화 */
.notionContainer a,
.notionContainer img.notion {
    pointer-events: auto;
}

.notion {
    border-radius: 10%;
    position: absolute;
    width: 180px;
    height: 120px;
    transition: transform 0.5s ease, opacity 0.3s ease;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.fixedBtn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    font-size: 2rem;
    padding: 1rem;
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.leftBtn {
    left: 2rem;
}

.rightBtn {
    right: 2rem;
}